.root{ 
  max-width: 100%;
}

.topRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.topRow > h1 {
  font-weight: 600;
}

.carouselContainer {
  width: 100%;
  display: block;
  overflow: hidden;
}

.carouselContainer > div {
  max-width: 100%;
  position: relative;
  overflow: hidden;
}

.slickSlide {
  overflow: hidden;
  max-width: 543px;
  width: 100%;
}

.slickSlide h3 {
  color: #fff;
}


.cardRoot {
  margin-bottom: 24px;
}
.cardTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardTitle > p {
  margin: 0;
}

.cardBody {
  padding: 40px 24px 24px 24px;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-between;
  width: 100%;

}

.icon {
  margin-right: 30px;
  font-size: 28px;
}

.cardFooter {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}