.root{ 
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cardRoot {
  margin-bottom: 24px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cardTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-weight: 600;
}

.avatarContainer {
  border: 1px solid #D9D9D9;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.providerName {
  margin-left: 16px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.statusRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 24px;
}

.status {
  font-weight: 600;
  color: #8C8C8C;
}

.label {
  font-weight: 600;
  margin-right: 8px;
}

.copyContainer {
  height: 72px;
}
