.main {
  width: 489px;
  background: #4E61A5;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 64px;
  margin: auto;
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}

.main > h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 48px;
  font-family: 'DM Sans', sans-serif;
  color: #ffffff;
  margin-bottom: 24px;
  font-family: 'Darker Grotesque', sans-serif;
}

.main > p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  text-align: center;
}

.formItem label {
  color: white;
}

.submitButton:hover, .submitButton:focus {
  color: white;
  border-color: white;
  filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.5));
}