<form id="saml" action="/auth/saml" method="post">
  <div class="form-field">
    <label>Email</label>
    <input name='email' type='text' />
  </div>

  <div class="form-field">
    <label>Domain</label>
    <input name='domain' type='text' />
  </div>
  <button type='submit'>Sign In</button>
</form>


<form id="saml" action="/auth/saml" method="post">
  <button type='submit'>Hosted Sign In</button>
</form>
