
@import 'node_modules/antd/lib/style/themes/default.less';
@import 'node_modules/antd/dist/antd.less';
@font-family: 'DM Sans', sans-serif;

@primary-color: #4E61A5;
@layout-header-background: @white;
@layout-sider-background: @primary-color;

@menu-bg: @primary-color;
@menu-popup-bg: @component-background;
@menu-item-color: @text-color;
@menu-highlight-color: @primary-color;
@menu-item-active-bg: @white;