
<!DOCTYPE html>
<html>
  <head>
    <title>Osso</title>
    <link rel="stylesheet" href="/static/reset.css" />
  </head>
  <body>
    <div id="root"></div>
  </body>
  <script src="/assets/index.js"></script>
</html>