<div class="error-container">
  <div class="error-main">
    <h1>☠️</h1>
    
    <h4><%= @error.to_s.split("::").join('::&#8203;') %></h4>

    <p><%= @error.message %></p>
    <% if @error.docs_url %> 
      <hr />
      <a target="_blank" href='<%= @error.docs_url %>'>Review Documentation</a>
    <% end %>  
  </div>
</div>