<div class="container">
  <form method='get'>
    <label for="email">Email</label>
    <input id="email" type="email" name="email" />
    <input type="hidden" name="redirect_uri" value="<%= params[:redirect_uri] %>" />
    <input type="hidden" name="client_id" value="<%= params[:client_id] %>" />
    <input type="hidden" name="state" value="<%= params[:state] %>" />
    <input type="hidden" name="response_type" value="code" />
  </form>
</div>  
