<!-- layout for views accessed by SAML end users  -->
<!doctype html>
<html>
  <head>
    <title>SAML SSO Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/saml.css">
    <script type="text/javascript" src="/saml.js"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>