<div class="container">
  <div class="main-content">
    <h1>Please select your Identity Provider</h1>
    <div class="providers <%= @providers.count > 3 ? 'multi-rows' : 'one-row' %>">
      <% @providers.map do |provider| %>
        <a href='<%= "/auth/saml/#{provider.id}" %>'>
          <div class="provider">
            <img class='logo' src='<%="https://assets.ossoapp.io/icons/#{provider.name.downcase}.svg"%>' />
            <p class="name"><%=provider.name %></p>
          </div>
        </a>
      <% end %>
    </div>
  </div> 
</div>
