.primaryContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 32px; 
  justify-items: center;
  align-items: center;
  margin-bottom: 24px;
}

.providerStyles {
  width: 128px;
  height: 128px;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 0 8px;
  transition: all 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: pointer;
}

.secondaryContainer {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.secondaryProvider {
  height: 54px;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  flex: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 34px;
  transition: all 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: pointer;
}


.providerActive {
  border: 2px solid #4E61A5;
}

.providerLogo{
  height: 72px;
  width: 72px;
}

.providerLabel {
  display: block;
  font-size: 14px;
  line-height: 22px;
  margin-top: 10px;
  margin-bottom: 8px;
}