.root{ 
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.topRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.topRow > h1 {
  font-weight: 600;
}

.carouselContainer {
  width: 100%;
  flex-grow: 1;
  display: flex;
  overflow: hidden;
}

.carouselContainer > div {
  max-width: 100%;
  position: relative;
  overflow: hidden;
}

.cardRoot {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.cardTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardTitle > p {
  margin: 0;
}

.cardBody {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.icon {
  margin-right: 30px;
  font-size: 28px;
}

.cardFooter {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
}

@media screen and (min-width: 1080px) {
  .cardFooter > a + .cardFooter > button {
    margin-top: 6px;
  }
}