
<!DOCTYPE html>
<html id="antd">
  <head>
    <title>Osso</title>
    <% if ENV['RACK_ENV'] === 'development' %>
        <link rel="stylesheet" type="text/css" href="http://localhost:1234/index.css">
    <% else %>  
        <link rel="stylesheet" type="text/css" href="/index.css">
    <% end %> 
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
  </head>
  <body>
    <div id="root"></div>
  </body>
  <% if ENV['RACK_ENV'] === 'development' %>
    <script src="http://localhost:1234/index.js"></script>
  <% else %>  
    <script src="/index.js" type="text/javascript"></script>
  <% end %> 
</html>
