
<!doctype html>
<html>
  <head>
    <title>Osso Admin Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/index.css">
  </head>
  <body>
  <div id="container" style="padding-top: 20vh">
    <div class="ant-row"><div class="ant-col ant-col-4 ant-col-offset-10">
      <%= yield %>
    </div>
    </div>
  </div>
    
  </body>
</html>