<div class="container">
  <form class="ant-form ant-form-vertical ant-form-hide-required-mark rodauth" method="post" role="form" id="verify-account-form">
    <%= rodauth.verify_account_additional_form_tags %>
    <%= rodauth.csrf_tag %>
    <div class="ant-row ant-form-item">
      <div class="ant-col ant-form-item-label"><label for="password" class="ant-form-item-required" title="Password">Password</label></div>
      <div class="ant-col ant-form-item-control">
        <div class="ant-form-item-control-input">
          <div class="ant-form-item-control-input-content"><input autocomplete="off" required id="password" name="password" type="password" class="ant-input" value=""></div>
        </div>
      </div>
    </div>
    <div class="ant-row ant-form-item">
      <div class="ant-col ant-form-item-label"><label for="password" class="ant-form-item-required" title="Password">Confirm Password</label></div>
      <div class="ant-col ant-form-item-control">
        <div class="ant-form-item-control-input">
          <div class="ant-form-item-control-input-content"><input autocomplete="off" required id="password-confirm" name="password-confirm" type="password" class="ant-input" value=""></div>
        </div>
      </div>
    </div>
    <button type="submit" class="ant-btn ant-btn-primary">Verify Account</button>
  </form>
</div>
