.header {
  padding: 0 24px;
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed; 
  left: 220px;
  right: 0;
  justify-content: space-between;
  z-index: 9;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.back {
  margin-right: 0;
  transition: width 0.2s linear;
  margin-right: 12px;
  display: inline-flex;
  width: 20px;
  overflow: hidden;
}

.noBack {
  width: 0;
}

.separator {
  width: 1px;
  height: 28px;
  background-color: #e8e8e8;
  margin-right: 16px;
  display: inline-flex;
}

.breadcrumb {
  transition: all 0.2s;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 0;
  margin-right: 16px;
}

.breadcrumbRoot {
  cursor: pointer;
  color: #4E61A5;
}
