.modalHeader{
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  margin-top: 16px;
  margin-bottom: 24px;
}

.buttonRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.loaderContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 260px;
}

.loaderText{
  font-weight: 600;
  font-size: 16px;
  margin-top: 24px;
}

.ossoFormInstructions {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 16px;
}